.accomplishmentsHero {
    background-image: url("https://autographfarm.s3.us-east-2.amazonaws.com/accomplishments.jpg");
    background-size: cover;
    background-position-y: 30%;
}

.accomplishmentsHero h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    margin-top: -5%;
}

@media only screen and (max-width: 600px) {
    .accomplishmentsHero h1 {
        text-align: center;
        text-shadow: 1px 1px 1px #000;
        margin-top: 45%;
    }
    .accomplishmentsHero {
        background-image: url("https://autographfarm.s3.us-east-2.amazonaws.com/accomplishments.jpg");
        background-size: cover;
        background-position-x: 60%;
    }
    
  }