.dashContainer button {
    margin-left: 60%;
    width: 50%;
}

.fileContainer {
    display: flex;
    justify-content: center;
}

.dashboardimage {
    width: 50%;
    margin-left: 25%;
}

.logout {
    margin-top: 1%;
    margin-left: 10% ;
}

#logodash {
    margin-top: 0%;
}

@media only screen and (max-width: 600px) {
file-cta {
    width: 50vw;
}
.dashContainer button {
    margin: 2%;
    width: 75%;
}
#logodash {
    margin-top: 15%;
}
.logout {
    margin-top: 0%;
    margin-left: 0% ;
}

  }