.dashContainer button {
    margin: 2%;
    width: 75%;
}

.fileContainer {
    display: flex;
    justify-content: center;
}

.dashImage img {
}
.file-cta {
    width: 50vw;
}
#logodash {
    margin-top: 15%;
}