.navbar{
    background-color: #323232;
    height: 10vh;
}
.navbar-burger{
    height: 10vh;
}

.navbar-item{
    color: white;
}

.navbar-dropdown a {
    color: black;
} 

.navbar-link {
    color: white;
}

.navbar-link:hover, :focus {
    color: black;
}

.navbar-link:not(.is-arrowless)::after{
    border-color: white;
 }

 .navIcons a{
     color: white;
     font-size: 2em;
 }

 .navbar-menu {
     text-align: center;
 }


#logo{
    height: 300%;
}

@media only screen and (max-width: 600px) {
    .navbar-item{
        color: black;
    }
    .navbar-link {
        color: black;
       padding-left: 11%;
    }
    .navbar-link:not(.is-arrowless)::after{
       border-color: black;
    }
    .navIcons a{
        color: black;
        font-size: 2.3em;
    
    }
    .buttons {
        margin-left: 5%;
    }
  }